{% extends 'main/base.html' %} {% load static %} {% block title %}{{ report.title }}{% endblock %} {% block content %}
<style>
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: rgba(0, 199, 255, 0.7) !important;
        border-radius: 50%;
        padding: 15px;
        background-size: 60% 60%;
    }
    /* Фиксируем размер карусели */
    
    #photoCarousel {
        height: 100%;
    }
</style>

<div class="container my-5 pt-3">
    <h1 class="text-center mb-4">{{ report.title }}</h1>

    <div class="carousel-container">
        <div id="photoCarousel" class="carousel slide h-100" data-bs-ride="arousel">
            <div class="carousel-inner h-100">
                <!-- Добавляем класс для квадратных фото -->
                <div class="carousel-item active {% if report.main_image.width == report.main_image.height %}square-image{% endif %}">
                    <img src="{{ report.main_image.url }}" alt="Основное фото">
                </div>

                {% for image in report.images.all %}
                <div class="carousel-item {% if image.image.width == image.image.height %}square-image{% endif %}">
                    <img src="{{ image.image.url }}" alt="Фото {{ forloop.counter }}">
                </div>
                {% endfor %}
            </div>

            <!-- Кнопки управления -->
            <button class="carousel-control-prev" type="button" data-bs-target="#photoCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#photoCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>

    <!-- Текстовый блок -->
    <div class="report-description mb-5 p-4 bg-light rounded-3">
        <p class="lead">{{ report.description }}</p>
        <small class="text-muted">{{ report.created_at|date:"d.m.Y H:i" }}</small>
    </div>
</div>
{% endblock %}