{% extends 'main/base.html' %} {% load static %} {% block title %}Преподаватели{% endblock %} {% block content %}
<div class="container pb-5" id="teachers">
    <!-- Добавлен отступ снизу -->
    <h2 class="text-center mb-4 title-animate">Преподаватели</h2>

    {% for teacher in teachers %}
    <div class="teacher-card mb-3 p-3 bg-white rounded-3 shadow">
        <!-- Уменьшен отступ между карточками -->
        <div class="row gx-5 align-items-start">
            <div class="col-md-4">
                <img src="{{ teacher.photo.url }}" class="teacher-photo img-fluid rounded-3" alt="{{ teacher.name }}" style="max-width: 280px;">
            </div>
            <div class="col-md-8">
                <div class="teacher-bio">
                    <h3 class="mb-3">{{ teacher.name }}</h3>
                    <div class="bio-text">{{ teacher.bio|linebreaks }}</div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}